.float-left {
    display: inline;
    float: left;
}
.float-right {
    display: inline;
    float: right;
    margin-right: 10px;
}
#navstyle {
    display: inline;
}
a {
    text-decoration: none;
}
header {
    height: 40px;
    background-color: #DCDCDC;
    padding: 10px;
    border-radius: 10px;
}
li {
    margin-left: 10px;
}